@import "./mixins";

.game{
    display: flex;
    margin-top: 50px;
    flex-wrap: nowrap;
    align-items: center;


    &__you{
        display: flex;
        flex-direction: column;
        margin-right: 2.5rem;

        .text{
            text-transform: uppercase;
            font-size: 1.5rem;
            font-weight: 300;
            margin-bottom:2.5rem;
        }

        .icon{
            height: 250px;
            width: 250px;
            border-radius: 50%;
            border-color: transparent;
            border: 25px solid;
            background-size: 50%;

            &--paper{

                @include icon($imagePaper,$paper-gradient);
                
                &--winner{
                    @include bigShadow($paper-gradient);
                }
                
            }

            &--scissors{

                @include icon($imageScissors,$scissors-gradient);  
                
                &--winner{
                    @include bigShadow($scissors-gradient);
                }
                             
            }

            &--rock{

                @include icon($imageRock,$rock-gradient);

                &--winner{
                    @include bigShadow($rock-gradient);
                }
                
            }
        }
    }

    &__play{
        display: flex;
        flex-direction: column;
        margin: 0 2rem;
        transition: color .2s;

        .text{
            text-transform: uppercase;
            font-size: 3rem;
            font-weight: 700;
            margin-bottom: 10px;
        }

        .play-again{
            background-color: white;
            text-decoration: none;
            text-transform: uppercase;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 0.8rem;

            &:hover{
                color:red;
            }
        }
    }

    &__house{
        display: flex;
        flex-direction: column;
        margin-left: 2.5rem;

        .text{
            text-transform: uppercase;
            font-size: 1.5rem;
            font-weight: 300;
            margin-bottom:2.5rem;
        }

        .icon{
            height: 250px;
            width: 250px;
            border-radius: 50%;
            border-color: transparent;
            border: 25px solid;
            background-size: 50%;

            &--paper{
                
                @include icon($imagePaper,$paper-gradient);
                
                &--winner{
                    @include bigShadow($paper-gradient);
                }
            }

            &--scissors{
                
                @include icon($imageScissors,$scissors-gradient);
                
                &--winner{
                    @include bigShadow($scissors-gradient);
                }
                
            }

            &--rock{

                @include icon($imageRock,$rock-gradient);
                
                &--winner{
                    @include bigShadow($rock-gradient);
                }
            }
        }

        .counter{
            height: 250px;
            width: 250px;
            border-radius: 50%;
            background-color: rgba($color: rgb(169, 165, 165), $alpha: .08);
            font-size: 7.5rem;
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            
        }
    }
}